@import url(http://fonts.googleapis.com/css?family=Ubuntu);

@font-face {
    /*font-family: "Ubuntu";
    src: url(Ubuntu-Regular.tff);*/
}
@font-face { 
	font-family: "pacifico1";	     
    src: url(pacifico.ttf)
}
@font-face {
    font-family: "Ubuntu Titling";
    src: url(UbuntuTitling-Bold.tff);
}
body{
    background: rgb(38,54,70) !important;
    color: rgb(255,242,204) !important;
}
.top-space-20 {
    padding-top: 4em;
}

.image-size-1 {
    width: 80%;
    align-content: center;
    text-align: center;
}

.testfont {
    font-family: 'Ubuntu Titling';
    font-size: 4em;
}

#above-fold {
    height: 100%;   
    padding-bottom:10%;
}

.eli-globe {
    align-content: center;
    align-items: center;
    align-content: : center;    
}

.image-globe {
    width: 100%;
}

.globe-description {
    /*font*/
    text-align: center;
    font-family: 'Ubuntu Titling';
    font-size: 1.2em;
    /*position*/
    padding-top: 0.7em;
}

.ubufont {
    font-family: 'Ubuntu Titling';
}

.text-centered {
    text-align: center;
    align-content: center;
}

.botspace-1 {
    padding-bottom: 1em;
}

.topspace-1 {
    padding-top: 1em;
}

.font-2 {
    font-size: 2em;
}
