@import url(http://fonts.googleapis.com/css?family=Ubuntu);

@font-face {
    /*font-family: "Ubuntu";
    src: url(Ubuntu-Regular.tff);*/
}
@font-face { 
	font-family: "pacifico1";	     
    src: url(pacifico.ttf)
}
@font-face {
    font-family: "Ubuntu Titling";
    src: url(UbuntuTitling-Bold.tff);
}
body{
    background: rgb(38,54,70) !important;
    color: rgb(255,242,204) !important;
}
h3{
    font-family: 'Ubuntu Titling';
    color: rgb(255,242,204) !important;
}
.top-space-20 {
    padding-top: 4em;
}

.image-size-1 {
    width: 80%;
    align-content: center;
    text-align: center;
}

.testfont {
    font-family: 'Ubuntu Titling';
    font-size: 4em;
}

#above-fold {
    height: 100%;   
    padding-bottom:10%;
}

.eli-globe {
    align-content: center;
    align-items: center;
    align-content: : center;    
}

.image-globe {
    width: 100%;
}

.globe-description {
    /*font*/
    text-align: center;
    font-family: 'Ubuntu Titling';
    font-size: 1.2em;
    /*position*/
    padding-top: 0.7em;
}

.ubufont {
    font-family: 'Ubuntu Titling';
}

.text-centered {
    text-align: center;
    align-content: center;
}

.botspace-1 {
    padding-bottom: 1em;
}

.topspace-1 {
    padding-top: 1em;
}

.font-2 {
    font-size: 2em;
}

.teamzone {
    background: rgb(50,43,42);
    padding-bottom: 10%;
}

#below-fold {
    /*whoops*/
}

#eligibility {
    padding-bottom: 10%;
}

#teamzone {
    background: rgb(50,43,42);
    padding-bottom: 10%;
}

#challenge {
    background: rgb(50,50,50);
    padding-bottom: 10%;
}

.procedure {
    /*font*/
    font-family: 'Ubuntu Titling';
    font-size: 1.3em;
    text-align: center;
    vertical-align: middle;
    /*border*/
    
        
}

#star-test {
    position: relative;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation: movestar 30s infinite;
    animation: movestar 30s infinite;
}

#starzone {
    position: absolute;
    width: 100%;
}

.animated-star{
    position: absolute;
    /*1*/
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation: movestar1 60s infinite;
    animation: movestar1 60s infinite;
    
}

.animated-star2{
    position: absolute;
    /*2*/
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation: movestar2 70s infinite;
    animation: movestar2 70s infinite;
    background-repeat: repeat;
}

@-webkit-keyframes movestar2 {
    from {left: -80em;}
    to {left: 120%;}
}

@keyframes movestar2 {
    from {left: -80em;}
    to {left: 120%;}
}

.animated-star3{
    position: relative;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation: movestar3 100s infinite;
    animation: movestar3 100s infinite;
}

@-webkit-keyframes movestar3 {
    from {left: -460em;}
    to {left: 100%;}
}

@keyframes movestar3 {
    from {left: -460em;}
    to {left: 100%;}
}

#starzone2{
    position: absolute;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation: movestar3 200s infinite;
    animation: movestar3 200s infinite;
}

#starzone3{
    position: absolute;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation: movestar4 100s infinite;
    animation: movestar4 100s infinite;
}


@-webkit-keyframes movestar {
    from {left: -50px;}
    to {left: 100%;}
}

@keyframes movestar {
    from {left: -50px;}
    to {left: 100%;}
}
@-webkit-keyframes movestar1 {
    from {left: -200px;}
    to {left: 100%;}
}

@keyframes movestar1 {
    from {left: -200px;}
    to {left: 100%;}
}


00%;}
}
@-webkit-keyframes movestar4 {
    from {left: -170px;}
    to {left: 100%;}
}

@keyframes movestar4 {
    from {left: -170px;}
    to {left: 100%;}
}