@import url(http://fonts.googleapis.com/css?family=Ubuntu);

@font-face {
    /*font-family: "Ubuntu";
    src: url(Ubuntu-Regular.tff);*/
}
@font-face { 
	font-family: "pacifico1";	     
    src: url(pacifico.ttf)
}
@font-face {
    font-family: "Ubuntu Titling";
    src: url(UbuntuTitling-Bold.tff);
}
body{
    background: rgb(38,54,70) !important;
    color: rgb(255,242,204) !important;
}
.top-space-20 {
    padding-top: 4em;
}

.image-size-1 {
    width: 80%;
    align-content: center;
    text-align: center;
}

.testfont {
    font-family: 'Ubuntu Titling';
    font-size: 4em;
}
