@import url(http://fonts.googleapis.com/css?family=Ubuntu);
/*@import url(http://fonts.googleapis.com/css?family=Nunito);*/
@import url(http://fonts.googleapis.com/css?family=Nunito:300);
@font-face {
    font-family: "Ubuntu";
    src: url(Ubuntu-Regular.tff);
}

@font-face{
    font-family: 'Nunito', sans-serif;
}

@font-face {
    font-family: "Ubuntu Titling";
    src: url(UbuntuTitling-Bold.tff);
}
body{
    background: rgb(38,54,70) !important;
    color: rgb(255,242,204) !important;
    overflow-x: hidden !important;
    overflow-y: visible !important;    
}
h1, h2, h3{
    font-family: 'Nunito', sans-serif !important;
    color: rgb(255,242,204) !important;
    text-align: 
}
a{
    color: rgb(255,242,204) !important;
}

.justify{
    text-align: justify;
}
p{
    font-family: 'Nunito', sans-serif !important;
    color: rgb(255,242,204);
}

td, table, td, tr{
    font-size: 1.0em !important;    
    background: transparent !important;
    color: rgb(255,242,204) !important;    
    border: 1px solid rgb(59, 89, 119);
}
table{
    /*border: 1px solid black;*/
    border-collapse: collapse;    
}
div{
    line-height: 1.5em;
}
.top-space-20 {
    padding-top: 4em;
}

.image-size-1 {
    width: 80%;
    align-content: center;
    text-align: center;
}

.testfont {
    font-family: 'Nunito', sans-serif;
    font-weight: 300;
    font-weight: 300;
    font-size: 3em;
}

#above-fold {
    height: 100%;   
    padding-bottom:10%;
}

.eli-globe {
    align-content: center;
    align-items: center;
    align-content: : center;    
}

.image-globe {
    width: 80%;
}

.globe-description {
    /*font*/
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-size: 1.2em;
    /*position*/
    padding-top: 0.7em;
    padding-left: 3em !important;
    padding-right: 3em !important;
    
}

.ubufont {
    font-family: 'Nunito', sans-serif;
}

.text-centered {
    text-align: center;
    align-content: center;
}

.botspace-1 {
    padding-bottom: 1em;
}

.topspace-1 {
    padding-top: 1em;
}

.font-2 {
    font-size: 2em;
}

.teamzone {
    background: rgb(50,43,42);
    padding-bottom: 10%;
}

#below-fold {
    /*whoops*/
}

#eligibility {
    padding-bottom: 10%;
}

#teamzone {
    background: rgb(50,43,42);
    padding-bottom: 10%;
}

#challenge {
    background: rgb(50,50,50);
    padding-bottom: 10%;
}

.procedure {
    /*font*/
    font-family: 'Nunito', sans-serif;
    font-size: 1.3em;
    text-align: center;
    vertical-align: middle;
    /*border*/
    
        
}

#star-test {
    position: relative;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation: movestar 30s infinite;
    animation: movestar 30s infinite;
}

#starzone {
    position: absolute;
    width: 100%;
}

.animated-star{
    position: absolute;
    /*1*/
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation: movestar1 60s infinite;
    animation: movestar1 60s infinite;
    
}

.animated-star2{
    position: absolute;
    /*2*/
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation: movestar2 70s infinite;
    animation: movestar2 70s infinite;
    background-repeat: repeat;
}

@-webkit-keyframes movestar2 {
    from {left: -80em;}
    to {left: 60%;}
}

@keyframes movestar2 {
    from {left: -80em;}
    to {left: 60%;}
}

.animated-star3{
    position: relative;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation: movestar3 100s infinite;
    animation: movestar3 100s infinite;
}

@-webkit-keyframes movestar3 {
    from {left: -460em;}
    to {left: 100%;}
}

@keyframes movestar3 {
    from {left: -460em;}
    to {left: 100%;}
}

#starzone2{
    position: absolute;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation: movestar3 200s linear infinite;
    animation: movestar3 200s linear infinite;
}

#starzone3{
    position: absolute;
    -webkit-animation-timing-function: linear;
    animation-timing-function: linear;
    -webkit-animation: movestar4 100s infinite;
    animation: movestar4 100s infinite;
}


@-webkit-keyframes movestar {
    from {left: -50px;}
    to {left: 100%;}
}

@keyframes movestar {
    from {left: -50px;}
    to {left: 100%;}
}
@-webkit-keyframes movestar1 {
    from {left: -200px;}
    to {left: 100%;}
}

@keyframes movestar1 {
    from {left: -200px;}
    to {left: 100%;}
}


00%;}
}
@-webkit-keyframes movestar4 {
    from {left: -170px;}
    to {left: 100%;}
}

@keyframes movestar4 {
    from {left: -170px;}
    to {left: 100%;}
}



#animate-area	{
    position: absolute;
    top: -50px;
	width: 100%; 
	height: 70em; 
	background-image: url(/assets/images/starmaze2-blue.png);
	background-position: 0px 0px;
	background-repeat: repeat-x;
    -webkit-animation: animatedBackground 40s linear infinite;
	animation: animatedBackground 40s linear infinite;    
}
@-webkit-keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}
@keyframes animatedBackground {
	from { background-position: 0 0; }
	to { background-position: 100% 0; }
}
.custom-table {
    font-family: 'Nunito', sans-serif;    
    text-align: center;        
}

.table-dim {
    background: /*rgb(255,200,160)*/ transparent !important;
}

#navbar {
    /*size*/
    height: 47px;    
    /*color*/
    background: rgb(255,80,80);
    /*positioning*/
    padding-left: 30px;
    padding-top: 14px;        
    /*border*/    
    border-bottom: 2px dotted;
    border-bottom-color: rgb(100,0,0);
    /*font*/
    font-family: 1.2em;
    font-family: 'Nunito',sans-serif;
}

.small-image {
    width: 50%;
}

#landing {    
    /*size*/
    height: 100%;
    width: 100%;    
    /*positioning*/
    padding-top: 10%;
    
    /*etc*/
    display: block;
}

#what {    
    height: 100%;
    padding-top: 5%;
}

#below {
    position: relative;    
    height: 100%;
    width: 100%;
}

.what-title {
    /*font*/
    text-align: center;
    /*size*/
    height: 5em;
}

.tleft {
    text-align: left;
}

#howToJoin {
    height: 100%;    
    background-image: linear-gradient(270deg,rgb(38,54,70) 0%,rgb(37, 90, 90) 100%);
    background-image: -o-linear-gradient(270deg,rgb(38,54,70) 0%,rgb(37, 90, 90) 100%);
    background-image: -moz-linear-gradient(270deg,rgb(38,54,70) 0%,rgb(37, 90, 90) 100%);
    background-image: -webkit-linear-gradient(270deg,rgb(38,54,70) 0%,rgb(37, 90, 90) 100%);
    background-image: -ms-linear-gradient(270deg,rgb(38,54,70) 0%,rgb(37, 90, 90) 100%);
}

.bordertb-dotted {
    /*border*/
    border-bottom: 2px dotted; 
    border-bottom-color: cream;
    border-top: 2px dotted;
    border-top-color: cream;
}

.borderall-dotted {
    /*border*/
    border: 2px dotted; 
    border-color: cream;
}

#mechanics {
    padding-top: 5%;
    padding-bottom: 5%;        
    background-image: -webkit-linear-gradient(180deg,rgb(37, 90, 90) 0%,rgb(50,43,42) 100%);    
    background-image: linear-gradient(180deg,rgb(37, 90, 90) 0%,rgb(50,43,42) 100%);
    background-image: -moz-linear-gradient(180deg,rgb(37, 90, 90) 0%,rgb(50,43,42) 100%);
    background-image: -ms-linear-gradient(180deg,rgb(37, 90, 90) 0%,rgb(50,43,42) 100%);
    background-image: -o-linear-gradient(180deg,rgb(37, 90, 90) 0%,rgb(50,43,42) 100%);
}

.bordert-dotted {
    border-top: 2px dotted;
    border-top-color: cream;
}
